@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-space-grotesk), sans-serif;
}

/* Prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
  html {
    scroll-behavior: auto;
  }
}
